/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.container{
  width: 1540px;
  margin: 0 auto;
}

.header_top{
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  background-color: #272343;
  color: #fff;
  height: 45px;
  padding: 14px 0;
}
.header_top_inner{
  display: flex;
  justify-content: space-between;
}
.header_top_right{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.header_main{
  height: 87px;
  background-color: #F0F2F3;
  padding: 20px 0;
}
.header_main_inner{
  display: flex;
  justify-content: space-between;
}
.header_main_logo>img{
  width: 121px;
}
.header_main_search>input{
  width: 413px;
  height: 44px;
  border-radius: 5px;
  border: none;
  padding: 12px;
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

nav{
  height: 75px;
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  font-size: 14px;
}
.nav_inner{
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}
.nav_menu{
  width: 803px;
  display: flex;
  justify-content: left;
}
.full_menu{
  width: 179px;
  height: 47px;
  border: 1px solid #E1E3E5;
  border-radius: 5px;
  padding: 16px 41px;
  color: #272343;
}
.menu_link{
  padding: 16px 0;
}
.menu_link>a{
  margin-left: 26px;
  text-decoration: none;
  color: #636270;
}
.nav_contacts{
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.nav_contacts_text{
  color: #636270;
}
.nav_contacts_phone{
  color: #272343;
}

main{
  height: 850px;
  width: 2000px;
  background-color: #F0F2F3;
  margin: 0 auto;
  border-radius: 0 0 50px 50px;
}
.main_inner{
  display: flex;
}
.main_left{
  width: 50%;
  padding-top: 250px;
}
.main_bigText{
  color: #272343;
  font-size: 45px;
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: bold;
  vertical-align: bottom;
}
.main_littleText{
  font-weight: 400;
  font-size: 16px;
  color: #081D30;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}
.main_button{
  margin-top: 20px;
  width: 259px;
  height: 52px;
  background-color: #F54A58;
  border-radius: 10px;
  color: #fff;
}